<div style="width: 50%;">
<table class="table table-striped">
    <thead>
      <tr>
        
        <th scope="col">Product Name</th>
        <th scope="col">Image</th>
        
      </tr>
    </thead>
    <tbody>
      
      <tr *ngFor="let product of productsList">
      
        <td>{{product.ProductName}}</td>
        <td>
            <img style="width:100px; height: 80px;" [src]="imagebaeurl +product.ProductImage">
        </td>
        
      </tr>
      <!-- <tr *ngFor="let product of productsList">
        <td>{{ product.ProductName }}</td>
        <td>
            <img *ngIf="product.ProductImage" style="width:100px; height: 80px;" 
                 [src]="imagebaeurl + product.ProductImage" alt="Product Image">
            <span *ngIf="!product.ProductImage">No Image Available</span>
        </td>
    </tr> -->
    
    </tbody>
  </table>
</div>